<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:section name="Main">
		<div class="ce-history__indicator"></div>
		<ul class="ce-history__container">
			<f:for each="{elements}" as="element" iteration="iterator">
				<f:render section="Item" arguments="{data: data, element: element, iterator: iterator}" />
			</f:for>
		</ul>
	</f:section>

	<f:section name="Item">
		<f:debug>{element}</f:debug>
		<li class="ce-history-item">
			<div class="ce-history-item__date">{element.tx_ce_history_date}</div>
			<div class="ce-history-item__content">
				<f:if condition="{element.data.title}">
					<header class="ce-history-item__title">
						<f:render partial="Header/Header" arguments="{header: element.data.title, layout: data.tx_foundation_elements_header}" />
					</header>
				</f:if>

				<f:if condition="{element.data.description}">
					<f:format.html>{element.data.description}</f:format.html>
				</f:if>

				<f:if condition="{element.media}">
					<ul class="ce-history-item__media">
						<f:for each="{element.media}" as="media">
							<f:render section="Media" arguments="{media: media, settings: '{fo:settings.get(extension: \'Ps14Timeline\', path: \'media\')}'}" />
						</f:for>
					</ul>
				</f:if>
			</div>
		</li>
	</f:section>

	<f:section name="Media">
		<li class="ce-history-item__media-item">
			<f:render partial="Media/Rendering/Picture" arguments="{
				file: media,
				sizes: settings.mediaQueries,
				settings: settings
			}" />
		</li>
	</f:section>
</div>