<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:fo="http://typo3.org/ns/Ps14/Foundation/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
	<f:section name="Main">
		<f:render section="Bodytext" arguments="{_all}" />
		<f:render section="Elements" arguments="{_all}" />
	</f:section>

	<f:section name="Bodytext">
		<f:if condition="{data.bodytext}">
			<f:render partial="Content/Bodytext" arguments="{bodytext: data.bodytext}" />
		</f:if>
	</f:section>

	<f:section name="Elements">
		<f:if condition="{elements}">
			<f:render partial="Timeline/Elements" section="Main" arguments="{data: data, elements: elements}" />
		</f:if>
	</f:section>
</html>